{% extends 'base.html' %}
{% block title %}Sensor Owner Manage Sensors{% endblock %}
{% block stylesheet %}/static/sensor_owner_style.css{% endblock %}

{% block body %}
    <div id="wrapper">

        {% include 'sensor_owner_navigation.html' %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Manage Sensors
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Manage Sensors</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-justified">
                                    <li id="addSensor" class="manage_menu"><a href="#">Add New Sensor</a></li>
                                    <li id="removeSensor" class="manage_menu"><a href="#">Remove Existing Sensor</a></li>
                                </ul>
                                <br>
                                <div id="divAddSensor" class="">
                                    <form accept-charset="UTF-8" role="form" action="" method="post">
                                        {% csrf_token %}
                                        {% include 'form_template.html' %}
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <button id="btnSubmit" type="submit" class="btn btn-success">Add Sensor</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="divRemoveSensor">
                                    <div class="table-responsive">
                                    <table id="sensor-list" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sensor ID</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% if available_sensors %}
                                           {% for sensor in available_sensors %}
                                                <tr class="clickable-row" id="{{ forloop.counter }}">
                                                    <td>{{ sensor.station }}</td>
                                                    <td>{{ sensor.sensor_type }}</td>
                                                    <td>{{ sensor.station_desc }}</td>
                                                    <td>{{ sensor.latitude }}</td>
                                                    <td>{{ sensor.longitude }}</td>
                                                    {% if sensor.active %}
                                                        <td>Active</td>
                                                    {% else %}
                                                        <td>Inactive</td>
                                                    {% endif %}
                                                   <td>
                                                       <button class="roundedge btn-danger">Terminate</button>
                                                   </td>
                                               </tr>
                                           {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
        $(document).ready(function() {
            $('#addSensor').addClass('active');
            $('#divAddSensor').show();
            $('#divRemoveSensor').hide();
        });

        $('.manage_menu').on('click',function (event) {
            if($(this).attr('id')=='addSensor'){
                $('#removeSensor').removeClass('active');
                $(this).addClass('active');
                $('#divAddSensor').show();
                $('#divRemoveSensor').hide();
            }else if($(this).attr('id')=='removeSensor'){
                $('#addSensor').removeClass('active');
                $(this).addClass('active');
                $('#divAddSensor').hide();
                $('#divRemoveSensor').show();
            }
        });

        $('#sensor-list').on('click', '.clickable-row', function(event) {
            alert($(this).attr('id')+' was clicked');
            $(this).addClass('table-row-color').siblings().removeClass('table-row-color');
        });

        $('#btnSubmit').on('click', function(event) {
            alert('Sensor added successfully');
        });
    </script>
{% endblock %}