{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block stylesheet %}/static/login_register_style.css{% endblock %}

{% block body %}
    <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
            <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="login">Mobile Sensor Cloud</a>
        </div>

    </nav>

    <div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-sm-6 col-sm-offset-3">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Registration Form</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </div>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('body'),
        .5,
        { css:
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });
});
</script>
{% endblock %}