{% extends 'base.html' %}
{% block title %}Mobile Sensor Cloud{% endblock %}
{% block stylesheet %}/static/monitor.css{% endblock %}

{% block body %}
    <div id="wrapper">

        {% include 'user_navigation.html' %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Subscribed sensors</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="sensor-list" class=" table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sensor Name</th>
                                                <th>Type</th>
                                                <th>Location</th>
                                                <th>Provider</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if user_sensors %}
                                                {% for sensor in user_sensors %}
                                                    {% if sensor.sensor_status %}
                                                        <tr class="clickable-row" id="{{ forloop.counter }}">
                                                        <td>{{ sensor.sensor_name }}</td>
                                                        <td>{{ sensor.sensor_type }}</td>
                                                        <td>{{ sensor.sensor_location }}</td>
                                                        <td>{{ sensor.sensor_provider }}</td>
                                                         <td><button class="roundedge btn-success">Active</button></td>
                                                        <td>
                                                            <a href="{% url 'manageSensors:deleteSensor' sensor.id %}" class="btn btn-primary btn-sm roundedge btn-danger" role="button">Unsubscribe</a>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Available sensors</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="sensor-list" class=" table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sensor Name</th>
                                                <th>Type</th>
                                                <th>Location</th>
                                                <th>Provider</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if available_sensors %}
                                                {% for sensor in available_sensors %}
                                                    {% if sensor.sensor_status %}
                                                        <tr class="clickable-row" id="{{ forloop.counter }}">
                                                         <td>{{ sensor.sensor_name }}</td>
                                                         <td>{{ sensor.sensor_type }}</td>
                                                         <td>{{ sensor.sensor_location }}</td>
                                                         <td>{{ sensor.sensor_provider }}</td>
                                                         <td><button class="roundedge btn-success">Active</button></td>
                                                        <td>
                                                            <a href="{% url 'manageSensors:addSensor' sensor.id %}" class="btn btn-primary btn-sm roundedge btn-success" role="button">Subscribe</a>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->




            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
        $('#sensor-list').on('click', '.clickable-row', function(event) {
            $(this).addClass('table-row-color').siblings().removeClass('table-row-color');
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
{% endblock %}